<?xml version="1.0"?>
<!--
  ~ @author    Ivan Belchev <ivan@imbelchev.com>
  ~ @copyright Copyright (c) 2022 MIT (see LICENSE.md)
  ~ @link      https://imbelchev.com
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::content">
                    <resource id="Magento_Backend::content_elements">
                        <resource id="Convert_Blog::post" title="Posts" translate="title" sortOrder="10">
                            <resource id="Convert_Blog::post_list" title="List Posts" translate="title" sortOrder="0" />
                            <resource id="Convert_Blog::post_save" title="Save Post" translate="title" sortOrder="10" />
                            <resource id="Convert_Blog::post_delete" title="Delete Post" translate="title" sortOrder="20" />
                        </resource>
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Convert_Blog::config" title="Blog configuration" translate="title" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
