<?xml version="1.0" ?>
<!--
  ~ @author    Ivan Belchev <ivan@imbelchev.com>
  ~ @copyright Copyright (c) 2022 MIT (see LICENSE.md)
  ~ @link      https://imbelchev.com
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <blog>
            <general>
                <enabled>1</enabled>
                <author>Convert</author>
            </general>
            <posts>
                <sortby>Post id</sortby>
            </posts>
        </blog>
    </default>
</config>
